<template>
    <button :class="classes" @click="toggle" style="margin-left: 8px">
        <span><i class="fas fa-heart"></i>{{ favoritesCount}}</span>
    </button>
</template>

<script>
    export default {
        props: ['reply'],
        data(){
            return {
                favoritesCount: this.reply.FavoritesCount,
                isFavorited: this.reply.IsFavorited
            }
        },
        computed: {
            classes() {
             return ['pull-right btn', this.isFavorited ? 'btn-primary' : 'btn-default'];
            }
        },
        methods: {
            toggle(){

                if (this.isFavorited) {
                    axios.delete('/replies/' + this.reply.id + '/favorites');
                    this.isFavorited = false;
                    this.favoritesCount--;
                }else {
                    axios.post('/replies/' + this.reply.id + '/favorites');
                    this.isFavorited = true;
                    this.favoritesCount++;
                }
            }
        }
    }
</script>

<style scoped>

</style>