<template>
    <div class="alert alert-flash" :class="'alert-'+level" role="alert" v-show="show" v-text="body"></div>
</template>

<script>
    export default {
        props: ['message'],

        data() {
            return {
                body: '',
                show: false,
                level: ''
            }
        },

        created() {
            if (this.message) {
                this.flash(this.message);
            }

            window.events.$on('flash', data => this.flash(data.message,data.level));
        },

        methods: {
            flash(msg,level = "success") {
                if (msg) {
                    this.body = msg;
                    this.level = level;
                    this.show = true;
                    this.hide();
                }
            },
            hide() {
                setTimeout(() => {
                    this.show = false;
            }, 3000);
            }
        }
    };
</script>

<style>
    .alert-flash {
        position: fixed;
        right: 25px;
        bottom: 25px;
    }
</style>

