<template>
    <div v-if="signedIn" class="card" style="margin: 20px">
        <div class="card-body">
                <div class="form-group">
                    <textarea name="nm" class="trix form-control" rows="6"></textarea>
                    <!--<wysiwyg name="body" v-model="body"></wysiwyg>-->
                </div>
                <button class="btn btn-default" @click="addReply">Submit</button>
        </div>
    </div>

    <p v-else class="text-center">Please <a href="/login">sign in </a>to participate in this discussion</p>
</template>

<script>
    import 'jquery.caret';
    import 'at.js';
    export default {
        data(){
            return {
                body: '',
                completed: false
            }
        },
        mounted(){
            $('.trix').atwho({
                at: "@",
                delay: 750,
                callbacks: {
                    remoteFilter: function(query, callback) {
                        console.log('called');
                        $.getJSON("/api/users", {name: query}, function(usernames) {
                            callback(usernames)
                        });
                    }
                }
            });
        },
        methods: {
            addReply(){
                axios.post(location.pathname + '/replies', {
                    body: this.body
                }).then(({data}) => {
                    // this.completed = true;
                    flash('Your reply has been posted');
                    this.$emit('created', data);
                }).catch((e)=>{
                    flash(e.response.data,'danger');
                });
            }
        },
        computed: {
            signedIn(){
                return window.App.signedIn;
            }
        }
    }
</script>

<style scoped>

</style>