<template>
    <div class="dropdown" v-if="notifications.length">
        <a class="btn" id="dropdownMenu" data-toggle="dropdown">
            <i class="fas fa-bell"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li class="dropdown-item" v-for="item in notifications">
                <a :href="item.data.link"
                   @click="markAsRead(item)"
                >{{ item.data.message | slice }}</a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
    data(){
        return {
            notifications: []
        }
    },
    filters: {
      slice(str){
          return str = str.slice(0,30);
      }
    },
    created(){
        axios.get('/profiles/' + window.App.user.name + '/notifications').
            then(response => this.notifications = response.data)
    },
    methods: {
        markAsRead(item){
            axios.delete('/profiles/' + window.App.user.id + '/notifications/' + item.id);
        }
    }
    }
</script>

<style scoped>
.notify {
    font-size: 13px!important;}
</style>
