<template>
    <div>
        <div v-for="(reply, index) in items" :key="reply.id">
            <reply :data="reply" @deleted="remove(index)"></reply>
        </div>
        <paginator :dataSet="dataSet" @change="fetch"></paginator>

        <newreply v-if="!$parent.locked" @created="addReply"></newreply>
        <p v-else>This thread has been locked. No more replies are allowed</p>
    </div>
</template>

<script>
    import Reply from './reply.vue';
    import Newreply from './newreply.vue';
    import collection from '../mixins/collection.js';

    export default {
        components: {
            Reply, Newreply
        },
        mixins: [collection],
        data(){
            return {
                dataSet: false
            }
        },
        created(){
          this.fetch();
        },
        methods: {
         fetch(page){
             axios.get(this.url(page)).
                 then(this.refresh)
         },
        url(page){
             if (!page){
                 let query = location.search.match(/page=(\d+)/);
                 page = query ? query[1] : 1;
             }
         return `${location.pathname}/replies?page=${page}`
        },
        refresh({data}){
            this.dataSet = data;
            this.items = data.data;
            window.scrollTo(0, 0);
        }
        }
    }
</script>

<style scoped>

</style>