<template>
        <div :id="'reply-'+id" class="card" style="margin: 20px">
            <div class="card-header" :class="IsBest ? ' bg-warning' : ''">
                <a :href="'/profile'+data.owner.name">{{data.owner.name}}</a> said
                {{data.created_at}}
            </div>

            <div class="card-body">
                <div v-if="editing">
                    <form>
                    <div class="form-group">
                        <div class="form-group">
                            <wysiwyg name="body" v-model="body" :value="body"></wysiwyg>
                            <!--<textarea class="form-control" v-model="body"></textarea>-->
                        </div>
                        <button class="btn btn-xs btn-primary" @click="update" type="button">Update</button>
                        <button class="btn btn-xs" @click="editing = false; body = data.body" type="button">Cancel</button>
                    </div>
                    </form>
                </div>
                <div v-else v-html="body"></div>

                <div v-if="signedIn">
                    <favorite :reply="data"></favorite>
                </div>


                <div class="flex">
                    <div v-if="authorize('update',reply)">
                        <button class="btn btn-danger btn-small" @click="destroy">Delete</button>
                        <button class="btn btn-xs btn-outline-primary" @click="editing = true">Edit</button>
                    </div>
                    <button v-if="authorize('update',reply.thread)" v-show="!IsBest" @click="markBest" class="ml-auto btn btn-xs btn-outline-primary">Mark as best</button>
                </div>
            </div>
        </div>
</template>
<script>
    import  Favorite from './favorite';
    export default {
        props: ['data'],
        components: { Favorite },
        data(){
            return {
                editing: false,
                body: this.data.body,
                id: this.data.id,
                reply: this.data,
                IsBest: this.data.IsBest
            }
        },
        created(){
            window.events.$on('best-reply-selected', id => {
               this.IsBest = (this.id == id);
            });
        },
        methods: {
          update() {
              axios.patch('/replies/' + this.data.id,{
                  body: this.body
              }).then(()=>{
                  flash("Your reply has been updated");
              }).catch((e)=>{
                  this.body = this.data.body;
                  flash(e.response.data,'danger');
              });
              this.editing = false;
          },
            destroy(){
                axios.delete('/replies/' + this.data.id);
                this.$emit('deleted');

                // $(this.$el).fadeOut(300,()=>{
                //     flash('Yor reply has been deleted');
                // });
            },
            markBest(){
              axios.post('/replies/' + this.id + '/best');
              window.events.$emit('best-reply-selected', this.id);
            }
        }
    }
</script>