<template>
    <div>
        <input id="trix" type="hidden" :name="name" :value="value">
        <trix-editor class="trix" ref="trix" input="trix"></trix-editor>
    </div>
</template>

<script>
    import Trix from 'trix';
    export default {
        props: ['name','value','shouldClear'],
        mounted(){
        this.$refs.trix.addEventListener('trix-change',e =>{
            this.$emit('input', e.target.innerHTML);
        });
        this.$parent.$on('created',()=>{
            this.$refs.trix.value = '';
        });
        }
    }
</script>

<style scoped>

</style>